<div class="row no-gutters">
    <div class="col-xl-12">
      <h3 style="margin-top: 0;"><span>PIXEL ART</span></h3>
      <br>
      <div id="carousel-1" class="carousel slide" data-interval="false">

      <div class="carousel-inner"><!-- Wrapper for slides -->

        <% @pixel_art.each do |img| %><!-- Iterate over @pixel_art -->

          <% if img == @pixel_art[0] %>
            <div class="carousel-item active">
              <%= link_to(image_path(img), target: "_blank") do %>
                <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
              <% end %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= link_to(image_path(img), target: "_blank") do %>
                <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
              <% end %>
            </div>
          <% end %>

        <% end %>

        </div> <!-- end carousel innter -->

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
      <!-- end carousel -->
      <br>

      <h3><span>PAINT MARKERS</span></h3>
      <br>
      <div id="carousel-2" class="carousel slide" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <% @physical_art.each do |img| %><!-- Iterate over @physical_art -->

            <% if img == @physical_art[0] %>
              <div class="carousel-item active">
                <%= link_to(image_path(img), target: "_blank") do %>
                  <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= link_to(image_path(img), target: "_blank") do %>
                  <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% end %>

          <% end %>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

      <h3><span>READY RUN EXHIBIT</span></h3>
      <br>
      <div id="carousel-3" class="carousel slide" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <% @ready_run.each do |img| %><!-- Iterate over @ready_run -->

            <% if img == @ready_run[0] %>
              <div class="carousel-item active">
                <%= link_to(image_path(img), target: "_blank") do %>
                  <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= link_to(image_path(img), target: "_blank") do %>
                  <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% end %>

          <% end %>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

      <h3><span>DIGITAL ART</span></h3>
      <br>
      <div id="carousel-4" class="carousel slide" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <% @digital_art.each do |img| %><!-- Iterate over @digital_art -->

            <% if img == @digital_art[0] %>
              <div class="carousel-item active">
                <%= link_to(image_path(img), target: "_blank") do %>
                  <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= link_to(image_path(img), target: "_blank") do %>
                  <%= image_tag(img, class: 'img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% end %>

          <% end %>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

    </div>
    <!-- col-sm-10 -->
  </div>

  <!-- row -->
