<div class="row no-gutters">
    <div class="col-xl-12">
      <h3 style="margin-top: 0;"><span>PIXEL ART</span></h3>
      <br>
      <div id="carousel-1" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner"><!-- Wrapper for slides -->

        <% @pixel_art.each do |img| %><!-- Iterate over @pixel_art -->

          <% if img == @pixel_art[0] %>
            <div class="carousel-item active">
              <%= link_to(img, target: "_blank") do %>
                <%= image_tag(img[7..-1], class: 'w-50 img-fluid', alt: "abstract") %>
              <% end %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= link_to(img, target: "_blank") do %>
                <%= image_tag(img[7..-1], class: 'w-50 img-fluid', alt: "abstract") %>
              <% end %>
            </div>
          <% end %>

        <% end %>

        </div> <!-- end carousel innter -->

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
      <!-- end carousel -->
      <br>

      <h3><span>PAINT MARKERS</span></h3>
      <br>
      <div id="carousel-2" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <% @physical_art.each do |img| %><!-- Iterate over @physical_art -->

            <% if img == @physical_art[0] %>
              <div class="carousel-item active">
                <%= link_to(img, target: "_blank") do %>
                  <%= image_tag(img[7..-1], class: 'w-50 img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= link_to(img, target: "_blank") do %>
                  <%= image_tag(img[7..-1], class: 'w-50 img-fluid', alt: "abstract") %>
                <% end %>
              </div>
            <% end %>

          <% end %>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

      <h3><span>READY RUN EXHIBIT</span></h3>
      <br>
      <div id="carousel-3" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to("assets/ready_run/1.jpg", target: "_blank") do %>
              <%= image_tag("ready_run/1.jpg", class: 'w-50 img-fluid', alt: "teletime carts") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/ready_run/2.jpg", target: "_blank") do %>
              <%= image_tag("ready_run/2.jpg", class: 'w-50 img-fluid', alt: "half gb") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/ready_run/3.jpg", target: "_blank") do %>
              <%= image_tag("ready_run/3.jpg", class: 'w-50 img-fluid', alt: "teletime on the screen") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/ready_run/4.jpg", target: "_blank") do %>
              <%= image_tag("ready_run/4.jpg", class: 'w-50 img-fluid', alt: "juveline amplifier") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/ready_run/5.jpg", target: "_blank") do %>
              <%= image_tag("ready_run/5.jpg", class: 'w-50 img-fluid', alt: "ready run opening") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/ready_run/6.jpg", target: "_blank") do %>
              <%= image_tag("ready_run/6.jpg", class: 'w-50 img-fluid', alt: "people interacting with teletime") %>
            <% end %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

      <h3><span>DIGITAL ART</span></h3>
      <br>
      <div id="carousel-4" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to("assets/digital_art/alien.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/alien.jpg", class: 'w-50 img-fluid', alt: "alien") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/break-abstract.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/break-abstract.jpg", class: 'w-50 img-fluid', alt: "break abstract") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/cash-outdoors.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/cash-outdoors.jpg", class: 'w-50 img-fluid', alt: "cash outdoors") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/hand.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/hand.jpg", class: 'w-50 img-fluid', alt: "hand") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/hand2.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/hand2.jpg", class: 'w-50 img-fluid', alt: "hand 2") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/hash-eyes.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/hash-eyes.jpg", class: 'w-50 img-fluid', alt: "hash eyes") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/outdoors.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/outdoors.jpg", class: 'w-50 img-fluid', alt: "outdoors") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/smear-face.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/smear-face.jpg", class: 'w-50 img-fluid', alt: "smear face") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/texture-guy.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/texture-guy.jpg", class: 'w-50 img-fluid', alt: "texture guy") %>
            <% end %>
          </div>

          <div class="carousel-item">
            <%= link_to("assets/digital_art/triangles.jpg", target: "_blank") do %>
              <%= image_tag("digital_art/triangles.jpg", class: 'w-50 img-fluid', alt: "triangles") %>
            <% end %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

    </div>
    <!-- col-sm-10 -->
  </div>
  <!-- row -->
