<div class="row">
    <div class="col-sm-12">
      <br></br>
      <h3 style="margin-top: 0;"><span>PIXEL ART</span></h3>
      <br>
      <div id="carousel-1" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="pixel_art/abstract.gif" target="_blank">
              <%= image_tag("pixel_art/abstract.gif", class: 'd-block w-100', alt: "abstract") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/bumpy.jpg" target ="_blank">
              <%= image_tag("pixel_art/bumpy.jpg", class: 'd-block w-100', alt: "bumpy") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/sky-belch.gif" target="_blank">
              <%= image_tag("pixel_art/sky-belch.gif", class: 'd-block w-100', alt: "sky belch") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/pink-faces.png" target="_blank">
              <%= image_tag("pixel_art/pink-faces.png", class: 'd-block w-100', alt: "pink faces") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/ascii-face.png" target="_blank">
              <%= image_tag("pixel_art/ascii-face.png", class: 'd-block w-100', alt: "ascii face") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/dirt-face.png" target="_blank">
              <%= image_tag("pixel_art/dirt-face.png", class: 'd-block w-100', alt: "dirt face") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/dither-sky.png" target="_blank">
              <%= image_tag("pixel_art/dither-sky.png", class: 'd-block w-100', alt: "dither sky") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/loco-scene_big.png" target="_blank">
              <%= image_tag("pixel_art/loco-scene_big.png", class: 'd-block w-100', alt: "loco sceen") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/paranoid.png" target="_blank">
              <%= image_tag("pixel_art/paranoid.png", class: 'd-block w-100', alt: "paranoid") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="pixel_art/whale-pattern.png" target="_blank">
              <%= image_tag("pixel_art/whale-pattern.png", class: 'd-block w-100', alt: "whale-pattern") %>
            </a>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
      <!-- end carousel -->
      <br>

      <h3><span>PAINT MARKERS</span></h3>
      <br>
      <div id="carousel-2" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="carousel-item active">
            <a href="physical_art/momma.jpg" target="_blank">
                <%= image_tag("physical_art/momma.jpg", class: 'd-block w-100', alt: "momma") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/shoe-nose.jpg" target="_blank">
                <%= image_tag("physical_art/shoe-nose.jpg", class: 'd-block w-100', alt: "shoe nose") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/snile.jpg" target="_blank">
              <%= image_tag("physical_art/snile.jpg", class: 'd-block w-100', alt: "snile") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/peacock.jpg" target="_blank">
              <%= image_tag("physical_art/peacock.jpg", class: 'd-block w-100', alt: "peacock") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/dense-rehab.jpg" target="_blank">
              <%= image_tag("physical_art/dense-rehab.jpg", class: 'd-block w-100', alt: "dense rehab") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/eating.jpg" target="_blank">
              <%= image_tag("physical_art/eating.jpg", class: 'd-block w-100', alt: "eating") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/ghosts.jpg" target="_blank">
              <%= image_tag("physical_art/ghosts.jpg", class: 'd-block w-100', alt: "ghosts") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/god-cult.jpg" target="_blank">
              <%= image_tag("physical_art/god-cult.jpg", class: 'd-block w-100', alt: "god cult") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/happy-blobs.jpg" target="_blank">
              <%= image_tag("physical_art/happy-blobs.jpg", class: 'd-block w-100', alt: "happy blobs") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/moving-on.jpg" target="_blank">
              <%= image_tag("physical_art/moving-on.jpg", class: 'd-block w-100', alt: "moving on") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/paint-marker-scream.jpg" target="_blank">
              <%= image_tag("physical_art/paint-marker-scream.jpg", class: 'd-block w-100', alt: "paint marker scream") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/pipes.jpg" target="_blank">
              <%= image_tag("physical_art/pipes.jpg", class: 'd-block w-100', alt: "pipes") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/politics.jpg" target="_blank">
              <%= image_tag("physical_art/politics.jpg", class: 'd-block w-100', alt: "politics") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/split.jpg" target="_blank">
              <%= image_tag("physical_art/split.jpg", class: 'd-block w-100', alt: "split") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/symbol-face.jpg" target="_blank">
              <%= image_tag("physical_art/symbol-face.jpg", class: 'd-block w-100', alt: "symbol face") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/tear-eyes.jpg" target="_blank">
              <%= image_tag("physical_art/tear-eyes.jpg", class: 'd-block w-100', alt: "tear eyes") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/w-guys.jpg" target="_blank">
              <%= image_tag("physical_art/w-guys.jpg", class: 'd-block w-100', alt: "w guys") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/worm-glasses.jpg" target="_blank">
              <%= image_tag("physical_art/worm-glasses.jpg", class: 'd-block w-100', alt: "worm glasses") %>
            </a>
          </div>

          <div class="carousel-item">
            <a href="physical_art/y.jpg" target="_blank">
              <%= image_tag("physical_art/y.jpg", class: 'd-block w-100', alt: "y") %>
            </a>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

      <h3><span>READY RUN EXHIBIT</span></h3>
      <br>
      <div id="carousel-3" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="ready_run/1.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="ready_run/1.jpg" alt="teletime carts"></a>
          </div>

          <div class="carousel-item">
            <a href="ready_run/2.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="ready_run/2.jpg" alt="half gb"></a>
          </div>

          <div class="carousel-item">
            <a href="ready_run/3.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="ready_run/3.jpg" alt="teletime on the screen"></a>
          </div>

          <div class="carousel-item">
            <a href="ready_run/4.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="ready_run/4.jpg" alt="juveline amplifier"></a>
          </div>

          <div class="carousel-item">
            <a href="ready_run/5.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="ready_run/5.jpg" alt="ready run opening"></a>
          </div>

          <div class="carousel-item">
            <a href="ready_run/6.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="ready_run/6.jpg" alt="people interacting with teletime"></a>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#carousel-3" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-3" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

      <h3><span>DIGITAL ART</span></h3>
      <br>
      <div id="carousel-4" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="digital_art/alien.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/alien.jpg" alt="alien"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/break-abstract.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/break-abstract.jpg" alt="break abstract"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/cash-outdoors.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/cash-outdoors.jpg" alt="cash outdoors"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/hand.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/hand.jpg" alt="hand"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/hand2.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/hand2.jpg" alt="hand 2"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/hash-eyes.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/hash-eyes.jpg" alt="hash eyes"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/outdoors.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/outdoors.jpg" alt="outdoors"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/smear-face.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/smear-face.jpg" alt="smear face"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/texture-guy.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/texture-guy.jpg" alt="texture guy"></a>
          </div>

          <div class="carousel-item">
            <a href="digital_art/triangles.jpg" target="_blank">
              <%= image_tag("", class: 'd-block w-100', alt: "") %>
              <img class="d-block img-fluid" src="digital_art/triangles.jpg" alt="triangles"></a>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#carousel-4" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-4" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- end carousel -->
      <br>

    </div>
    <!-- col-sm-10 -->
  </div>
  <!-- row -->
